.cabecera {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    
}

.logo {
    color: #a15c5c;
    font-family: Hurricane, cursive;
    font-size: 30px;
}