.form {
    width: 100%;
    font-family: Kalam, cursive;
    padding: 2.5rem;
    color: #4d2121; 
    display: flex;
    overflow: auto;
}

.formContacto {
    margin-right: 3rem;
}

.formContacto__titulo {
    margin-bottom: 1rem;
    font-size: larger;
    font-weight: bolder;
}

.input {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    width: 100%;
}

.input__mensaje {
    width: 100%;
}

.form__img {
    margin-right: 3rem;
    border-radius: 20%;
}