.proyectos {
    font-family: Kalam, cursive;
    padding: 2rem;
    color: #4d2121;
}

.proyectos__titulo {
    font-size: larger;
    font-weight: bolder;
}

.encriptador {
    margin-top: 1rem;
    
    display: flex;
    align-items: flex-start;
}

.encriptador__titulo {
    font-size: medium;
    font-weight: bold;
    margin-bottom: 10px;
}

.encriptador__repositorio {
    border: 1px solid #d46f86;
    box-sizing: border-box;
    width: 100px;
    height: 35px;
    text-align: center;
    color: #d46f86;
    margin-top: 5px;
    
}

.encriptador__repositorio:hover {
    box-shadow: 6px 6px 6px #CCC;
    cursor:pointer;
    font-weight: bold;
}

.encriptador__verDemo {
    background: #d46f86;
    width: 100px;
    height: 33px;
    text-align: center;
    color: white;
    margin-top: 5px;
    border: none;
    
}

.encriptador__verDemo:hover {
    box-shadow: 6px 6px 6px #CCC;
    cursor:pointer;
    font-weight: bold;
}

.encriptador__info {
    padding: 3rem;
}


.encriptador__detalle {
    font-size: small;
    margin-bottom: 2rem;
}

.encriptador__imagen {
    width: 500px;
    height: 300px;
    margin-right: 3rem;
    border-radius: 5%;
}