.skills-hobbies {
    font-family: hurrican, cursive;
    padding: 2rem;
    color: #4d2121;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skills__list, .hobbies__list  {
   display: flex;
   justify-content: space-between;
}

.skills__item, .hobbies__item {
    flex-grow: 1;
    background: white;
    margin-right: 15px;
    padding: 30px;
    font-size: medium;
}

.skills__titulo, .hobbies__titulo {
    margin-bottom: 2rem;
    font-size: larger;
    font-weight: bolder;
}




 

